.ReactModalPortal {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.closed {
    width: 3%;
}

.open {
    width: 19%;
}

.menu {
    position: fixed;
    left: 0;
    background-color: antiquewhite;
    height: 100%;
    font-size: 20pt;
    transition: all 1s;
}

#serverContent {
    position: relative;
    background-color: bisque;
    padding-bottom: 5%;
}

.main-page {
    transition: all 2s;
}

.menu-open {
    margin-left: 21%;
    width: 79%;
}

.menu-closed {
    margin-left: 5%;
    width: 95%;
}

.make-scroll-button {
    display: block;
    width: 5%;
    margin: 0 auto;
}
