.ReactModalPortal {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

.closed {
    width: 3%;
}

.open {
    width: 19%;
}

.menu {
    position: fixed;
    left: 0;
    background-color: antiquewhite;
    height: 100%;
    font-size: 20pt;
}

.serverContent {
    position: relative;
    background-color: bisque;
}

.gallery-open {
    margin-left: 21%;
    width: 79%;
}

.gallery-closed {
    margin-left: 5%;
    width: 95%;
}
