.frame {
    cursor: pointer;
}

.gallery-image {
    display: block;
    margin: auto;
    max-width: 70%;
}

.mainPic {
    width: 100%;
    max-width: 100%;
}

.frame-caption {
    background-color: cornsilk;
    display: block;
    padding-left: 5%;
}
