.baseGrid {
    margin-left: 10%;
    width: 70%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}

.main-title {
    padding-top: 2%;
    text-align: center;
    font-size: 32pt;
}

.innerGrid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-items: center;
    display: flex;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
